<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>LINK DO BOLETO</h3>
    <p>
      <%= @link %>
    </p>
  </body>
</html>